/* Cart.css */
.cart-empty {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.cart-container h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #212121;
  margin-bottom: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0 20%;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.cart-item:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transform: translateY(-5px);
  border: 1px solid #212121;
}

.cart-item-image {
  width: 100px;
  height: auto;
  margin-right: 20px;
  border-radius: 4px;
}

.cart-item-details {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.cart-item-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cart-item-name {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #212121;
}

.cart-item-price {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
  color: #555;
}

.cart-summary {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
  color: #555;
}

.cart-total {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
  color: #28a745;
}

.back-to-catalog-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.back-to-catalog {
  font-family: Tahoma, Geneva, sans-serif;
  padding: 10px 20px;
  background-color: #DB0000;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none; /* Remove underline from links */
}

.back-to-catalog:hover {
  background-color: #B30000;
}

/* Additional styling for buttons */
.cart-container button {
  background-color: #DB0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.cart-container button:hover {
  background-color: #B30000;
}
