/* General Styles */
.catalog {
  text-align: center;
  background-color: #fff;
  height: auto;
  padding: 20px;
}

/* Grid Layout for Products */
.product-list {
  display: grid;
  justify-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Product Card Design */
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #fff;
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 15px;
  transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease;
  width: 250px;
}

.product:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transform: translateY(-5px);
  border: 1px solid #212121;
}

.product-image-container {
  flex-grow: 1; /* Allows the image container to grow and fill the space */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Image Styling */
.product img {
  width: 90%;
  height: 180px;
  object-fit: contain;
}

/* Product Details */
.catalog-item-name {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.2em;
  color: #212121;
  margin: 15px 0 5px;
}

.catalog-item-description {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 0.9em;
  color: #666;
  margin: 0 0 15px;
}

.catalog-item-price {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.1em;
  color: #28a745;
  margin: 5px 0 15px;
}

/* Buttons */
.catalog button {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #DB0000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.catalog button:hover {
  background-color: #B30000;
}

/* Sort and Filter Section */
.sort-filter-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.sort-filter-section input {
  width: 500px;
  font-family: Tahoma, Geneva, sans-serif;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #fff;
  border-bottom: 1px solid #000;
}

.sort-filter-section input::placeholder {
  color: #494949;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
}

.sort-filter-section select {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  padding: 10px;
  margin: 0 10px;
  border-radius: 15px;
  border: 1px solid #fff;
}

/* Notification Styles */
.notification {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  right: 2%;
  bottom: 4%;
  background-color: #04AA6D;
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 18px;
  width: 20%;
  height: 10%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 1000;
  transition: opacity 0.3s ease;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .add-to-cart-btn {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.add-to-cart-btn {
  font-family: Tahoma, Geneva, sans-serif;
  width: 150px;
  padding: 8px 12px;
  font-size: 12px;
  margin: 0 auto; /* Centers the button */
  display: block; /* Makes margin auto effective */
  border-radius: 5px;
}